.menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu {
    display: block;
    grid-column: 11/12;
    border-bottom: var(--border-bootom);
    display: grid;
    justify-content: end;
    align-content: center;
    cursor: pointer;
  }
  .menu-btn {
    border: none;
    border-radius: 0;
    background-color: var(--primary-color);
    height: 2px;
    width: 4.5rem;
  }
  .menu-btn::before,
  .menu-btn::after {
    background-color: var(--primary-color);
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  .menu-btn::before {
    transform: translateY(-1.5rem);
  }
  .menu-btn::after {
    transform: translateY(1.3rem);
  }
}
